{% extends 'transporte/base.html' %}
{% block content %}

<section class="py-3">
    <div class="container">

        <div class="p-4 text-white text-center shadow"
            style="background: linear-gradient(135deg,#1e3a8a,#3b82f6);
                   border-radius: 20px;">
            <h1 class="display-5 fw-bold">Eliminar Cliente</h1>
        </div>

    </div>
</section>


<section class="py-5">
    <div class="container">

        <a href="{% url 'lista_cliente' %}" class="btn btn-outline-primary mb-4">
            <i class="fas fa-arrow-left me-2"></i> Volver al listado
        </a>

        <div class="card shadow border-0 p-4 rounded-4 text-center">

            <h3 class="fw-bold mb-3">¿Eliminar el Cliente ID {{ id }}?</h3>

            <p class="fs-5">
                Esta acción no se puede deshacer.
            </p>

            <div class="mt-4">
                <a href="{% url 'lista_cliente' %}" class="btn btn-secondary me-3">
                    Cancelar
                </a>

                <button class="btn btn-danger">
                    <i class="fas fa-trash-alt me-2"></i>
                    Confirmar Eliminación
                </button>
            </div>

        </div>

    </div>
</section>

{% endblock %}
