{% extends 'transporte/base.html' %}

{% block content %}
<div class="container py-5">
    <div class="text-center p-4 shadow rounded-3" style="max-width: 500px; margin: auto;">
        
        <h2 class="fw-bold text-warning">Sesión Expirada</h2>
        <p class="mt-3">Tu sesión ha caducado. Por favor inicia sesión nuevamente.</p>

        <a href="{% url 'inicio_sesion' %}" class="btn btn-warning mt-3 rounded-pill px-4 text-dark">
            Iniciar Sesión
        </a>
    </div>
</div>
{% endblock %}
